* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'lora_reg';
    src: url(../fonts/Lora-Regular.ttf);
}
@font-face {
    font-family: 'lora_bold';
    src: url(../fonts/Lora-Bold.ttf);
}
@font-face {
    font-family: 'lora_var';
    src: url(../fonts/Lora-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'work_sans_reg';
    src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face {
    font-family: 'work_sans_var';
    src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'work_sans_light';
    src: url(../fonts/WorkSans-Light.ttf);
}

html {
    font-size: 10px;
}

.headline {
    font-family: 'lora_reg';
}

header {
    display: flex;
    align-items: center;
}

header div {
    width: 50%;
    text-align: center;
}

header div h1 {
    font-size: 10rem;
    letter-spacing: 5.5rem;
    padding-bottom: 3vh;
}

header div p {
    font-size: 2.4rem;
    letter-spacing: 0.5rem;
}

header img {
    width: auto;
    height: 100vh;
}
/* =========================================================== */

main nav{
    background-color: #2e2e2e;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

main nav div a {
    color: #fff;
    font-family: 'work_sans_reg';
    font-size: 1.8rem;
    text-decoration: none;
    padding: 0 15px;
    margin: 0 100px;
}

main section:nth-of-type(1) {
    background-color: #2e2e2e;
    display: flex;
    align-items: center;
}

main section:nth-of-type(1) img {
    width: 70%;
    margin: 20vh 0;
}

main section:nth-of-type(1) article {
    width: 40%;
    margin: 0 30px;
}

main section:nth-of-type(1) article h2 {
    text-align: center;
    font-size: 4.5rem;
    color: #fff;
    margin-bottom: 2vh;
}

main section:nth-of-type(1) article p{
    font-family: 'work_sans_reg';
    font-size: 1.4rem;
    color: #fff;
    text-align: justify;
    margin-bottom: 6vh;
}

/* ================================================================= */


main section:nth-of-type(2) article {
    text-align: center;
}

main section:nth-of-type(2) article h2 {
    text-align: center;
    font-size: 4.5rem;
    color: #000;
    margin-bottom: 2vh;
    margin-top: 15vh;
}

main section:nth-of-type(2) article p{
    font-family: 'work_sans_reg';
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    margin-bottom: 5vh;
    word-spacing: 0.8rem;
}

main section:nth-of-type(2) div{
    display: flex;
    justify-content: space-evenly;
}

main section:nth-of-type(2) div .image_card{
    display: flex;
    flex-direction: column;
    width: 25%;
}

main section:nth-of-type(2) div .image_card p{
    font-family: 'work_sans_reg';
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    margin-top: 1vh;
    margin-bottom: 5vh;
    word-spacing: 0.8rem;
}

main section:nth-of-type(2) iframe {
    display: block;
    margin: 10vh auto 20vh auto;
}

/* ====================================== */

footer section:nth-of-type(1){
    display: flex;
    justify-content: space-between;
    background-color: #2e2e2e;
}

/* ===================================== */

footer section:nth-of-type(1) article {
    width: 20vw;
    margin: 20vh 10%;
}

footer section:nth-of-type(1) article h2 {
    font-family: 'lora_reg';
    font-size: 4rem;
    text-transform: uppercase;
    color: #fff;
    margin: 2vh 0;
}

footer section:nth-of-type(1) article p{
    text-align: justify;
    font-family: 'work_sans_reg';
    font-size: 1.4rem;
    color: #fff;
    padding: 10px 0;
}

/* ====================================== */

footer section:nth-of-type(1) form {
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    margin-right: 20%;
    font-family: 'lora_reg';
    color: #fff;
    padding: 3px;
    font-size: 1.4rem;
}

footer section:nth-of-type(1) input, textarea{
    margin-bottom: 10px;
    padding: 3px;
}

.submit {
    width: 20%;
}

/* ====================================== */

footer section:nth-of-type(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d2c2f;
    padding: 3vh 0;
}

footer section:nth-of-type(2) p{
    color: #fff;
    font-family: 'lora_reg';
    text-transform: uppercase;
    font-size: 1.6rem;
    padding: 0 3%;
}

footer section:nth-of-type(2) p a{
    color: #fff;
    text-decoration: none;
}

footer section:nth-of-type(2) p a:nth-of-type(2){
    padding-left: 30px;
    padding-right: 30px;
}